/*
 Project:       terMITes
 Authors:       Nuria Macia
                Juanita Devis
 Version:       1.1
 Date:          March 2017
 Last modified: May 2017
 */


/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*----------------------------------------------------------*/
/* 		01 - RESET   									  	*/
/*		02 - HEADER 										*/
/*		03 - MAIN 	 										*/
/*		04 - FOOTER											*/
/*		05 - RESPONSIVENESS									*/
/*		05.1 - DESKTOP										*/
/*		05.2 - SMARTPHONES (Portrait and landscape)			*/
/*----------------------------------------------------------*/
  
/*
==================================================
  01 - RESET
==================================================
*/

html {
	overflow-y: scroll;
}

body {
	background: #ffffff;
	color: #262626;
	font-family: "Amatic SC", sans-serif;
	margin: 0;	
	overflow-x: hidden; 
	padding: 0;
}

#fitScreen {
	height: 100%;
}

input, button, textarea, select{
  	border-radius: 0;
	-webkit-appearance:none;
 	-webkit-border-radius: 0;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}

q:after, q:before {
	content: none;
}

h2 {
	font-weight: 700;
	letter-spacing: 2px;
}

/*
==================================================
  02 - HEADER
==================================================
*/

header {
	height: 120px;
	margin-bottom: 30px;
	margin-top: 50px;
 	padding-top: 10px;
	text-transform: uppercase;
}

header .container {
	padding: 0;
}

/* LOGO */

.brand {
	float: left;
	height: 100%;
	left: 5px;
}

.brand:hover{
        filter: invert(100%);
}

.brand img {
	height: 100px;
}

/* MENU */
#nav {
	display: inline-block;
	float: right;
	margin-top: 4px;
}

/* Strip the ul of padding and list styling. */
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* Create a horizontal list with spacing. */
#nav li {
	display: inline-block;
	padding: 0 35px;
	text-align: right;
}

/* Style for menu links. */
#nav li a {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
}

/* Hover state for top level links. */
#nav li:hover a {
 	color: #F6F6F6;
}

/* SUBMENU */
/* Style for dropdown links. */
#nav li:hover ul a {
	background: #F6F6F6;
	color: #262626;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	padding-left: 30px;
	text-align: left;
}

/* Hover state for dropdown links. */
#nav li:hover ul a:hover {
    background: #262626;
    color: #F6F6F6;
}

/* Hide dropdown links until they are needed. */
#nav li ul {
	display: none;
 	position: absolute;
    width: inherit;
}

/* Make dropdown links vertical. */
#nav li ul li {
	display: block;
	line-height: 40px;
	float: none;
}

/* Prevent text wrapping. */
#nav li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0;
}

/* Display the dropdown on hover. */
#nav ul li:hover .hidden-nav {
	display: block;
    z-index: 1;
}

/* Menu icon for mobile devices */
/* Style 'show menu' label button and hide it by default. */
.show-icon-menu {
	display: none;
	font-size: 30px;
	right: 20px;
  	position: absolute;
  	top: 25px;
}

/* Hide checkbox. */
input[type=checkbox]{
    display: none;
}

/* Show menu when invisible checkbox is checked. */
input[type=checkbox]:checked ~ #nav #menu {
    display: block;
}


/*
==================================================
  03 - MAIN
==================================================
*/

.container {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

main .container {
    padding-bottom: 100px;
    height: inherit;
}

no-padding {
    padding-left: 0;
    padding-right: 0;
}

.block.no-margin {
	margin-bottom: 0;	
}

.welcome-weather-date {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 0;
}

.weather h2 {
	margin-top: 0px;
    margin-bottom: 0px;
}

.weather-icon {
	float: left;
    height: 35px;
    padding-right: 10px;
	width: auto;
}

.weather-region {
	font-size: 10px;
	font-weight: 700;
	padding-bottom: 0px;
}

#getDayOfWeek {
	text-transform: uppercase;
}

/* FORM */

.rowsurvey {
	border-top: .2em solid #262626;
	margin-bottom: 10px;
	margin-top: 0;
 	position: relative;
	text-align: center;
    width: 100%;
}

.rowsurvey figure img {
	height: 50px;
}


.emotion-title {
	font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.buttonsurvey label {
    text-align: center;
}

.buttonsurvey-mood,
.buttonsurvey-energy,
.buttonsurvey-noise {
	display: inline-block;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
    width: 60px;
}

.buttonsurvey-temperature {
	display: inline-block;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
    width: 70px;
}

/* This road needs a special height */
.buttonsurvey-temperature figure img {
    height: 65px;
}

.noise-n {
	width: 72px !important;  
}

label > input { 			/* HIDE RADIO */
 	position: absolute; 	/* Remove input from document flow */
	visibility: hidden; 	/* Makes input not-clickable */
}

label > input + figure { 	/* IMAGE STYLES */
	cursor: pointer;
    height: 50px;
    left: 0;
    margin: auto;
	position: absolute;
    right: 0;
    top: 0;
}

label > input:hover + figure { /* (RADIO CHECKED) IMAGE STYLES */
	filter: invert(100%);
}

label > input:hover + figure > figcaption { /* (RADIO CHECKED) IMAGE STYLES */
	opacity: 1;
}

label > input:checked + figure { /* (RADIO CHECKED) IMAGE STYLES */
	filter: invert(100%);
}

label > input:checked + figure > figcaption { /* (RADIO CHECKED) IMAGE STYLES */
	opacity: 1;
}

figcaption {
	caption-side: bottom;
	color: #000;
	font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
	opacity: 0;
    line-height: 90%;
    padding-top: 1px;
}

/* Secret code */
input[type=password] {
	background-color: #fff;
	border: 2px #ccc solid;
	float: right;
	font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
	margin-right: 10px;
    padding: 0 3px 0 3px;
}

/* Error messages */
#error,
#error-mood,
#error-energy,
#error-temperature,
#error-noise {
	color: #fff;
	font-size: 20px;
	padding-left: 20px;
    font-weight: normal;
}

/* Submit button */

.btn {
	border-radius: 0;
	background-color: #262626;
	color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 3px 0 3px;

}

.btn:hover,
.btn:focus,
.btn:active {
	border-radius: 0;
	background-color: #F6F6F6;
	float: right;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 3px 0 3px;
}

/* GRID SENSORS */

.row-sensor {
	margin-bottom: 0px;
	margin-top: 0;
 	position: relative;
    width: 100%;
    border-bottom: .2em solid #262626;
}

.row-sensor figure img {
	height: 60px;
}

.boxsensors {
    margin-top: 60px;
}


.button-sensor label {
    text-align: center;
}

.button-sensor {
	display: inline-block;
    height: 75px;
    margin-left: auto;
    margin-top: 15px;
    position: relative;
    width: 90px;
    text-align: center;
}

.img-window-sensor {
    max-width: 90px;
}

/*
==================================================
  04 - FOOTER
==================================================
*/

footer {
	height: 80px;
	margin-bottom: 0;    
}

.copyright {
	bottom: 10px;
	margin-left: 50px;
	position: absolute;
}

.copyright p {
	font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.copyright a:hover {
    color: #F6F6F6 ;
}

/*
==================================================
  05 - RESPONSIVENESS
==================================================
*/

/*
==================================================
  05.1 - DESKTOP
==================================================
*/

@media (min-width : 991px) 
		and (max-width : 1199px) {
    
	.buttonsurvey-energy {
    	max-width: 45px;
	}
    
    .buttonsurvey-energy figure img {
    	height: 45px;
	}
    
    .buttonsurvey-noise {
    	max-width: 55px;
    }
    
    .buttonsurvey-noise figure img {
    	height: 45px;
	}
     
    .row-sensor figure img {
    	height: 50px;
    }
    
    .img-window-sensor {
    	max-width: 80px;
    }
    
    .button-sensor {
    	max-width: 80px;
    }     
        
}

/*
==================================================
  05.2 - SMARTPHONES (Portrait and landscape)
==================================================
*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	header {
		margin-top: 10px;
	}

	.brand{
		margin-left: 15px;
		margin-top: -10px;
	}
    
    .brand img {
	    display: block;
	    height: 50px;
	    margin-top: 20px;
	    position: absolute;
	    z-index: 2;
	}

	/* Display 'show menu' link. */
	.show-icon-menu {
		display: block;
	}

	/* Make dropdown links appear inline. */
	#nav ul {
		background: #38BFB3;
		display: none;
		left: 0;
		position: absolute;
		top: 60px;
		width: 100%;
		z-index: 1;
	}

	/* Create vertical spacing. */
	#nav li {
		margin-bottom: 1px;
		padding: 0;
		text-align: center;
	}

	/* Dropdown position */
	#nav li ul {
		display: none;
		position: static;
	}

	/* Style for dropdown links. */
	#nav li:hover ul a {
		text-align: center;
		padding: 0;
		width: 100%;
	}	

	/* Expand with of all menu links. */
	#nav li a {
		display:block;
		height: 50px;
		line-height: 50px;
		text-align: center;
	}
	
	#nav ul li {
		width: 100%;
	}

	.copyright {
		margin: auto;
		width: 100%;
	}

}


