<main>	
  <div class="container no-padding">
    <div class="block no-margin clearfix">
      <div class="col-xs-12 col-md-7 no-padding t-learnmore">
        
        <!-- TerMITes home -->
        <div ng-show="content == 'termitesen'">
          <h2>TerMITes</h2>
          <p class="description narrow">
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>  
          <h3>Sensors</h3>
          <img src="./img/sensors/atp-400x-t.png" alt=""  width="40%"/>
          <img src="./img/sensors/at-400x-t.png" alt="" width="40%"/>
        </div>

        <!-- Presence -->
        <div ng-show="content == 'presence'">
          <h2>Presence</h2>
          <img src="./img/sensors/presence.png" alt="" width="7%"/> 0 
          <img src="./img/sensors/presence-inv.png" alt="" class="s-imagelog"/> 1
          <p class="description narrow"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>  
          <h3>Values</h3>
         
        </div>
        <!-- Motion -->
        <div ng-show="content == 'motion'">
          <h2>Motion</h2>
          <img src="./img/sensors/moveanimation.gif" alt="" class="s-imagelog mirror"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>
        </div>
        <!-- Proximity -->
        <div ng-show="content == 'proximity'">
          <h2>Proximity</h2>
          <img src="./img/sensors/proximity.png" alt="" class="s-imagelog"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>
        </div>
        <!-- Window -->
        <div ng-show="content == 'window'">
          <h2>Window</h2>
          <img src="./img/sensors/window.png" alt="" class="s-imagelog"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>
        </div>
        <!-- Door -->
        <div ng-show="content == 'door'">
          <h2>Door</h2>
          <img src="./img/sensors/door-close.png" alt="" class="s-imagelog"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>
        </div>
        <!-- Curtains -->
        <div ng-show="content == 'curtains'">
          <h2>Curtains</h2>
          <img src="./img/sensors/curtains.png" alt="" class="s-imagelog"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>
        </div>
        <!-- Temperature -->
        <div ng-show="content == 'temperature'">
          <h2>Temperature</h2>
          <img src="./img/sensors/temperature.png" alt="" class="s-imagelog"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>
        </div>
        <!-- Humidity -->
        <div ng-show="content == 'humidity'">
          <h2>Humidity</h2>
          <img src="./img/sensors/humidity.png" alt="" class="s-imagelog"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <!-- Pressure -->
        <div ng-show="content == 'pressure'">
          <h2>Pressure</h2>
          <img src="./img/sensors/pressure.png" alt="" class="s-imagelog"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p class="narrow t-linksright">
          <a target="_blank" href="https://www.youtube.com/watch?v=EkDhlzA-lwI&t=">How does a barometer works?</a><br/>
          <a target="_blank" href="https://www.youtube.com/watch?v=VDf00z8sMFw&t=">How heavy is air?</a>
          </p>
          
        </div>
        <!-- CO2 -->
        <div ng-show="content == 'co2'">
          <h2>CO2</h2>
          <img src="./img/sensors/co2.png" alt="" class="s-imagelog"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>
        </div>
        <!-- Light -->
        <div ng-show="content == 'light'">
          <h2>Light</h2>
          <img src="./img/sensors/light.png" alt="" class="s-imagelog"/>
          <p class="description narrow">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
          </p>
        </div>
      </div>  
      <div class="col-xs-12 col-md-5 no-padding">
        <!-- Weather panel -->
        <t-weather></t-weather>
        <!-- Report bug -->
        <t-report-bug></t-report-bug>
        <!-- Sensors -->
        <div class="boxsensors" ng-hide="bugReport.startReporting === true"> 
           <div class="row-sensor" ng-repeat="row in [0, 1, 2, 3]" >      
            <div class="button-sensor" ng-repeat="col in [0, 1, 2]">       
              <label>
                <input id="{{ listOfSensors[row][col] }}" type="radio" name="content" ng-model="content" value="{{ listOfSensors[row][col] }}" ng-click="setValue(row, col)" />
                <figure>
                  <img ng-class="{'img-window-sensor': listOfSensors[row][col] == 'window'}" ng-src="./img/sensors/{{ listOfSensors[row][col] }}.png" alt="{{ listOfSensors[row][col] }}" />
                  <figcaption>{{ listOfSensors[row][col] }}</figcaption>
                </figure>
              </label>             
            </div>
          </div>  
        </div>                
      </div>
    </div> 
  </div>
</main>