/*
 Project:       terMITes for Electronautes
 Authors:       Nuria Macia
                Juanita Devis
                Jason Nawyn
 Version:       1.1
 Date:          March 2017
 Last modified: March 2018
 */


/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*----------------------------------------------------------*/
/* 		01 - RESET   									  	*/
/*		02 - HEADER 										*/
/*		03 - MAIN 	 										*/
/*		04 - FOOTER											*/
/*		05 - RESPONSIVENESS									*/
/*		05.1 - DESKTOP										*/
/*		05.2 - SMARTPHONES (Portrait and landscape)			*/
/*----------------------------------------------------------*/
  
/*
==================================================
  01 - RESET
==================================================
*/

html {
  overflow-y: scroll;
}

body {
  background: #ffffff;
  color: #262626;
  font-family: "Amatic SC", sans-serif;
  margin: 0;	
  overflow-x: hidden;
  padding: 0;
}

input, button, textarea, select{
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

a, 
a:hover, 
a:focus {
  color: inherit;
  text-decoration: none;
}

q:after,
q:before {
  content: none;
}

h2 {
  font-weight: 700;
  letter-spacing: 2px;
}

p.description {
  font-family: "Open Sans";
  font-size: 12px;
/*  text-transform: lowercase;*/
}

.t-learnmore .s-imagelog {
    height: 80px;
    max-width: 100px;;
}

.t-learnmore  a:hover {
  color: #F6F6F6;
}

.narrow {
  width: 80%;
}

p.t-linksright {
    float: right;
}

a.t-linksright {
    float: right;
}

.inline-sen p {
    display: inline-flex;
    font-size: 15px;
}

.title-sens-des {
  margin-bottom: 0px;
}

/*
==================================================
  02 - HEADER
==================================================
*/


canvas {
  position: absolute;
  z-index: -1;
}
header {
  height: 120px;
  margin-bottom: 30px;
  margin-top: 50px;
  padding-top: 10px;
  text-transform: uppercase;
}

header .container {
  padding: 0;
}

/* LOGO */

.logo {
  float: left;
  height: 100%;
  left: 5px;
}

.logo:hover{
  filter: invert(100%);
}

.logo img {
  height: 100px;
}

/* MENU */

#nav {
  display: inline-block;
  float: right;
  margin-top: 4px;
}

/* Strip the ul of padding and list styling. */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Create a horizontal list with spacing. */
#nav li {
  display: inline-block;
  padding: 0 35px;
  text-align: right;
}

/* No padding for hidden list, */
#nav .hidden-nav li {
  padding: 0;
}

/* Style for menu links. */
#nav li a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* Hover state for top level links. */
#nav li:hover a {
  color: #F6F6F6;
}

/* SUBMENU */
/* Style for dropdown links. */

#nav li:hover ul a {
  background: #F6F6F6;
  color: #262626;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-left: 30px;
  text-align: left;
}

/* Hover state for dropdown links. */
#nav li:hover ul a:hover {
  background: #262626;
  color: #F6F6F6;
}

/* Hide dropdown links until they are needed. */
#nav li ul {
  display: none;
  position: absolute;
  width: inherit;
}

/* Make dropdown links vertical. */
#nav li ul li {
  display: block;
  line-height: 40px;
  float: none;
}

/* Prevent text wrapping. */
#nav li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0;
}

/* Display the dropdown on hover. */
#nav ul li:hover .hidden-nav {
  display: block;
  z-index: 1;
}

/* Menu icon for mobile devices */
/* Style 'show menu' label button and hide it by default. */
.show-menu {
  display: none;
  font-size: 30px;
  right: 20px;
  position: absolute;
  top: 25px;
}

/* Hide checkbox. */
input[type=checkbox] {
  display: none;
}

/* Show menu when invisible checkbox is checked. */
input[type=checkbox]:checked ~ #nav #menu {
  display: block;
}

/*
==================================================
  03 - MAIN
==================================================
*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.box-footer {
  bottom: 0;
  position: relative;
  width: 100%;
}

main .container {
  padding-bottom: 10px;
  height: inherit;
}

no-padding {
  padding-left: 0;
  padding-right: 0;
}

/* Svg Style*/

#img-classroom-lasvegas, #img-sensors-lasvegas,
#img-classroom-pompeia, #img-sensors-pompeia,
#img-classroom-oimiakon, #img-sensors-oimiakon,
#img-classroom-honolulu, #img-sensors-honolulu,
#img-classroom-hongkong, #img-sensors-hongkong,
#img-classroom-monaco, #img-sensors-monaco {
	position: absolute;
    max-width: 100%;
}

.sen-clasr-h #img-classroom-hongkong, .sen-clasr-h object#img-sensors-hongkong,
.sen-clasr-h #img-classroom-honolulu, .sen-clasr-h object#img-sensors-honolulu {
    max-height: 100%;
}

.sshow {
  display: block;
}


object {
  position: relative;
  top: 0;
  left: 0;
}


.block.no-margin {
  margin-bottom: 0;	
}

.weather-panel {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 0;
}

.weather h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.weather-icon {
  float: left;
  height: 35px;
  padding-right: 10px;
  width: auto;
}

.weather-region {
  font-size: 10px;
  font-weight: 700;
  padding-bottom: 0;
}

#getDayOfWeek {
  text-transform: uppercase;
}

/* Form */
.row-survey {
  border-top: .2em solid #262626;
  margin-bottom: 10px;
  margin-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.row-survey figure img {
  height: 50px;
}

.emotion-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.button-survey label {
  text-align: center;
}

.button-survey-mood,
.button-survey-energy,
.button-survey-noise {
  display: inline-block;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  position: relative;
  width: 60px;
}

.button-survey-temperature {
  display: inline-block;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  position: relative;
  width: 70px;
}

/* This road needs a special height */
.button-survey-temperature figure img {
  height: 65px;
}

.button-survey-noise .noise-n {
  width: 72px !important;  
}

label > input { 		/* HIDE RADIO */
  position: absolute; 	/* Remove input from document flow */
  visibility: hidden; 	/* Makes input not-clickable */
}

label > input + figure { 	/* IMAGE STYLES */
  cursor: pointer;
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

label > input:hover + figure,
label > input:checked + figure { /* (RADIO CHECKED) IMAGE STYLES */
  filter: invert(100%);
}

label > input:disabled + figure {
  cursor: none;
  filter: invert(0%);
  opacity: .5;
}

label > input:hover + figure > figcaption,
label > input:checked + figure > figcaption { /* (RADIO CHECKED) IMAGE STYLES */
   opacity: 1;
}

figcaption {
  caption-side: bottom;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0;
  line-height: 90%;
  padding-top: 1px;
}

/* Secret code */
input[type=password] {
  background-color: #ffffff;
  border: 2px #e9e6dc solid;
  float: right;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
  padding: 0 3px 0 3px;
}

/* Error messages */
.error {
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
  font-weight: normal;
}

/* Submit button */
.btn {
  border-radius: 0;
  background-color: #262626;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 3px 0 3px;
}

.btn:hover,
.btn:focus,
.btn:active {
  border-radius: 0;
  background-color: #F6F6F6;
  float: right;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 3px 0 3px;
}

.btn-space {
  margin-right: 5px 
}

/* Grid sensorss */
.row-sensor {
  margin-bottom: 0px;
  margin-top: 0;
  position: relative;
  width: 100%;
  border-bottom: .2em solid #262626;
}

.row-sensor figure img {
  height: 60px;
}

.boxsensors {
  margin-top: 60px;
}

.button-sensor label,
.button-relate label {
  text-align: center;
}

.button-sensor {
  display: inline-block;
  height: 75px;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 3px;
  position: relative;
  width: 90px;
  text-align: center;
}

.mirror {
  transform: scaleX(-1);
}

.img-window-sensor {
  max-width: 90px;
}

/* Relate ( Drag and drop relate sensors emotions) */

.r-buttonsurvey {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;    
}

.r-buttonsurvey > label > input:checked + figure {
  background: #ffffff;  
}

.r-buttonsurvey > label > input + figure {
  height: 75px;
  padding-top: 15px;
  position: relative;
  width: 75px;
}

.r-buttonsurvey label {
  margin-bottom: 0;
  position: relative;
  text-align: center;
  width: 100%;
  
}

.r-buttonsurvey label:hover > figure > figcaption {
  opacity: 1;
}

.r-buttonsurvey label:hover {
  filter: invert(100%);
}

.r-button-sensor label {
  width: 100%;
}

.r-button-sensor img {
  max-height: 40px; 
  max-width: 90%;
}

.r-button-sensor .img-window-sensor {
  max-width: 50px;
  min-height: 25px;
  
}

.r-button-sensor label > input + figure {
  height: inherit;
  position: relative;
}

.r-button-sensor label:hover > figure { /* Invert color for drag and drop */
  filter: invert(100%);
}

.r-button-sensor label:hover > figure > figcaption { /* display figure caption when hover */
  opacity: 1;
}

.r-dragbox {
  background-color: rgba(255, 255, 255, 0.72);
  border: .2em dashed #000000;
  float: left;
  height: 320px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 0;
  padding: 2.5%;
  width: 80%;
}

.r-dragbox .r-button-sensor img {
  height: 40px;
}

.r-dragbox .r-button-sensor {
  display: inline-flex;
  max-width: 20%;
  margin: 2px;
  min-width: 15%;
  text-align: center;
}

.r-dragbox .r-button-sensor label {
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}

.r-dragbox .r-button-sensor:hover {
  background-color: #262626;
  border-radius: 10%;
}

.r-dragbox figcaption {	
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.r-emotions {
  padding-left: 11.5%;
  padding-right: 11.5%;
  height: inherit;
  margin-bottom: 0px;
  margin-top: 45px;
  position: relative;
  width: 100%;
}

.r-buttonsurvey > label > figure > img {
  height: 40px;
}

.r-sensorsbox-and-dragbox {
  display: flex;
  height: 100%
}

.r-sensors-side {
  display: block;
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  text-align: center;
  width: 10%;
}

.r-sensors-side .r-button-sensor {
  max-height: auto;
  max-width: 90%;
}

/* Check the following link to adjust the sensors' position in the circles */ 
/* hhttps://codepen.io/HugoGiraudel/pen/vEJXGm */

.circle-container {
  border-radius: 100%;
  border-style: dashed;
  height: 110px;
  list-style: none;
  padding: 10px;
  position: relative;
  width: 110px;
 }

.circle-container > * {
  display: block;
  height: 1em;
  left: 50%;
  margin: -0.5em;
  position: absolute;
  top: 50%;
  width: 1em;
}

.circle-container > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(31.42857px) rotate(0deg);
          transform: rotate(0deg) translate(31.42857px) rotate(0deg);
}

.circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(65.45455deg) translate(31.42857px) rotate(-65.45455deg);
          transform: rotate(65.45455deg) translate(31.42857px) rotate(-65.45455deg);
}

.circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(130.90909deg) translate(31.42857px) rotate(-130.90909deg);
          transform: rotate(130.90909deg) translate(31.42857px) rotate(-130.90909deg);
}

.circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(196.36364deg) translate(31.42857px) rotate(-196.36364deg);
          transform: rotate(196.36364deg) translate(31.42857px) rotate(-196.36364deg);
}

.circle-container > *:nth-of-type(5) {
  -webkit-transform: rotate(261.81818deg) translate(31.42857px) rotate(-261.81818deg);
          transform: rotate(261.81818deg) translate(31.42857px) rotate(-261.81818deg);
}

.circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(327.27273deg) translate(31.42857px) rotate(-327.27273deg);
          transform: rotate(327.27273deg) translate(31.42857px) rotate(-327.27273deg);
}

.circle-container > *:nth-of-type(7) {
  -webkit-transform: rotate(392.72727deg) translate(31.42857px) rotate(-392.72727deg);
          transform: rotate(392.72727deg) translate(31.42857px) rotate(-392.72727deg);
}

.circle-container > *:nth-of-type(8) {
  -webkit-transform: rotate(458.18182deg) translate(31.42857px) rotate(-458.18182deg);
          transform: rotate(458.18182deg) translate(31.42857px) rotate(-458.18182deg);
}

.circle-container > *:nth-of-type(9) {
  -webkit-transform: rotate(523.63636deg) translate(31.42857px) rotate(-523.63636deg);
          transform: rotate(523.63636deg) translate(31.42857px) rotate(-523.63636deg);
}

.circle-container > *:nth-of-type(10) {
  -webkit-transform: rotate(589.09091deg) translate(31.42857px) rotate(-589.09091deg);
          transform: rotate(589.09091deg) translate(31.42857px) rotate(-589.09091deg);
}

.circle-container > *:nth-of-type(11) {
  -webkit-transform: rotate(654.54545deg) translate(31.42857px) rotate(-654.54545deg);
          transform: rotate(654.54545deg) translate(31.42857px) rotate(-654.54545deg);
}

.circle-container img {
  border-radius: 50%;
  display: block;
  filter: invert(100%);
  max-width: 100%;
}

.c-group-box {
  margin-bottom: 2.5%;
  width: 100%;
}

.emotion-c-group {
  display: block;  
  margin-left: 5%;
}

.c-group-road {
  display: inline-flex;
  width: 100%;
}

#textareaEdit {
  height: 300px;
  width: 100%;
}

.sen-clasr-h {
    min-height: 483px;
  }



/*
==================================================
  04 - FOOTER
==================================================
*/

.bug {
  float: right;
  height: auto;
  margin-left: 2.5%;
  width: auto;
}

.button-reportbug {
  float: right; 
  height: auto;
  position: relative;
  width: auto;
}

.button-reportbug img {
  height: 30px;
}

.button-reportbug label > input + figure { 
  height: auto;
  margin-top: 5px;
  position: relative;
}

.bug-caption {
  display: inline-block;
  vertical-align: top;
}

footer {
  margin-bottom: 0;  
}

.copyright {
  bottom: 0;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 5px;
  position: relative;
  width:auto;
}

.copyright p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.copyright a:hover {
  color: #F6F6F6;
}

.informationsource {  
  font-size: 15px;
  font-weight: 800;
}

.box-cont-footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ml-logos {
  display: inline-block;
  float: left;
  position: relative;
  width: auto;
}

.ml-logos img {
  height: 23px;
  padding-right: 5px;
}

.ml-logos img:hover {
  filter: invert(100%);
}



/*
==================================================
  05 - RESPONSIVENESS
==================================================
*/

/*
--------------------------------------------------
  05.1 - DESKTOP 
--------------------------------------------------
*/

@media (min-width : 1281px){
  .sen-clasr-h {
    min-height: 532px;
  }
}

@media  (min-width : 991px) and
        (max-width : 1281px) {
            
  header {
    height: auto;
    margin-top: 30px;
  }

  header .container {
    height: 90px;
  }
          
  .logo img {
    height: 90px;
  } 

  footer {
    height: auto;
  }
          
  .boxsensors {
    margin-top: 30px;
  }  
             
  .button-survey-energy {
    max-width: 45px;
  }

  .button-survey-energy figure img {
    height: 45px;
  }
    
  .button-survey-noise {
    max-width: 55px;
  }

  .button-survey-noise figure img {
    height: 45px;
  }
     
  .row-sensor figure img {
    height: 50px;
  }
    
  .img-window-sensor {
    max-width: 80px;
  }
    
  .button-sensor {
    height: 70px;
    margin-bottom: 0;
    margin-top: 10px;
    max-width: 80px;
  }
 .sen-clasr-h {
    min-height: 483px;
  }
}

@media  (min-width : 481px) and
        (max-width : 990px) {
  
  header {
    margin-left: 20px;
  }

  .boxsensors {
    max-width: 610px;
    margin: auto;
  }

  .boxbuttonssurvey {
    margin: auto;      
    max-width: 450px;
    position: relative;
  }

  .row-sensor {
    display: inline-flex;
    margin-right: 20px;
    width: 280px;
  }

  #nav {     
    margin-bottom: 20px;
  }

  #nav li {
    padding-left: 0;
    padding-right: 30px;            
  }

  .r-sensorsbox-and-dragbox {
    margin-bottom: 20px;
  }
  .sen-clasr-h, .sur-clasr-h {
    min-height: 483px;
  }
  #img-classroom-lasvegas, object#img-sensors-lasvegas {
    max-height: 100%;
  }
  .sur-clasr-h #img-classroom-hongkong, .sur-clasr-h object#img-sensors-hongkong,
  .sur-clasr-h #img-classroom-honolulu, .sur-clasr-h object#img-sensors-honolulu {
    max-height: 100%
  }

}

/*
--------------------------------------------------
  05.2 - SMARTPHONES (Portrait and landscape)
--------------------------------------------------
*/

@media  only screen and 
        (min-width : 320px) and
        (max-width : 480px) {

  header {
    height: 50px;
    margin-top: 10px;
  }

  .boxsensors {
    margin-top: 0px;
  }

  .logo {
    margin-left: 15px;
    margin-top: -10px;
  }

  .logo img {
    display: block;
    height: 50px;
    margin-top: 20px;
    position: absolute;
    z-index: 2;
  }

  /* Display 'show menu' link. */
  .show-menu {
    display: block;
  }

  /* Make dropdown links appear inline. */
  #nav ul {
    display: none;
    left: 0;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1;
  }

  /* Create vertical spacing. */
  #nav li {
    margin-bottom: 1px;
    padding: 0;
    text-align: center;
  }

  /* Dropdown position */
  #nav li ul {
    display: none;
    position: static;
  }

  /* Style for dropdown links. */
  #nav li:hover ul a {
    text-align: center;
    padding: 0;
    width: 100%;
  }	

  /* Expand with of all menu links. */
  #nav li a {
    display:block;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  #nav ul li {
    width: 100%;
  }

  .button-survey-energy {
    max-width: 45px;
  }

  .button-survey-energy figure img {
    height: 45px;
  }

  .button-survey-noise {
    max-width: 55px;
  }

  .button-survey-noise figure img {
    height: 45px;
  }

  .row-sensor {
    margin: auto;
    max-width: 260px;
  }

  .row-sensor figure img {
    height: 50px;
  }

  .img-window-sensor {
    max-width: 80px;
  }

  .button-sensor {
    max-width: 80px;
    margin-bottom: 0;
  }     

  /* reduce the font size for mobile */
  .weather-panel,
  .weather h2 {
    font-size: 20px;
  }

  .weather-panel {
    margin-top: 20px;
  }

  /* reduce the image width of the window img in relate */
  .r-button-sensor .img-window-sensor {
    max-width: 30px;
  }

  .ml-logos {
    display: block;
    float: initial;
    position: relative;
    width: auto;  
  }

  .ml-logos img {
     height: 20px;
    margin-top: 20px;
  }

  .copyright {
    padding-left: 0px;
  } 

  figcaption.bug-caption {
    display: none;
  }
  .sen-clasr-h, .sur-clasr-h {
    min-height: 310px;
  }
}

@media (max-width : 320px){
  .sen-clasr-h, .sur-clasr-h {
    min-height: 200px !important;
  }
}
