<main>	
  <div class="container no-padding">
    <div class="block no-margin clearfix">
      <div class="col-xs-12 col-md-7 no-padding">
        <!-- SVG: Floor Plan -->
        <object data="svg/floorplan.svg" type="image/svg+xml" ng-show="classroom == 'floorplan'" id="img-floorplan"></object>   
        <!-- SVG: Classrooms -->
        <object data="svg/lasvegas.svg" type="image/svg+xml" ng-show="classroom == 'lasvegas'" id="img-classroom-lasvegas"></object> 
        <object data="svg/pompeia.svg" type="image/svg+xml" ng-show="classroom == 'pompeia'" id="img-classroom-pompeia"></object>
        <object data="svg/oimiakon.svg" type="image/svg+xml" ng-show="classroom == 'oimiakon'" id="img-classroom-oimiakon"></object>
        <object data="svg/honolulu.svg" type="image/svg+xml" ng-show="classroom == 'honolulu'" id="img-classroom-honolulu"></object>
        <object data="svg/hongkong.svg" type="image/svg+xml" ng-show="classroom == 'hongkong'" id="img-classroom-hongkong"></object>
        <object data="svg/monaco.svg" type="image/svg+xml" ng-show="classroom == 'monaco'" id="img-classroom-monaco"></object> 
        <!-- TODO: Remove following line when each classroom has its own sensor svg !-->
        <object data="svg/sensors.svg" type="image/svg+xml" ng-hide="classroom == 'floorplan'" id="img-sensors"></object>
        <!-- SVG: Sensors by classroom -->
        <object data="svg/s-lasvegas.svg" type="image/svg+xml" ng-show="classroom == 'lasvegas'" id="img-sensors-lasvegas"></object> 
        <object data="svg/s-pompeia.svg" type="image/svg+xml" ng-show="classroom == 'pompeia'" id="img-sensors-pompeia"></object>
        <object data="svg/s-oimiakon.svg" type="image/svg+xml" ng-show="classroom == 'oimiakon'" id="img-sensors-oimiakon"></object>
        <object data="svg/s-honolulu.svg" type="image/svg+xml" ng-show="classroom == 'honolulu'" id="img-sensors-honolulu"></object>
        <object data="svg/s-hong-kong.svg" type="image/svg+xml" ng-show="classroom == 'hongkong'" id="img-sensors-hongkong"></object>
        <object data="svg/s-monaco.svg" type="image/svg+xml" ng-show="classroom == 'monaco'" id="img-sensors-monaco"></object> 
      </div>
      <div class="col-xs-12 col-md-5 no-padding">
        <!-- Weather panel -->
        <t-weather></t-weather>
        <!-- Report bug -->
        <t-report-bug></t-report-bug>
        <!-- Sensors -->
        <div class="boxsensors" ng-hide="bugReport.startReporting === true"> 
          <div class="row-sensor" ng-repeat="row in [0, 1, 2, 3]" >      
            <div class="button-sensor" ng-repeat="col in [0, 1, 2]">
              <label ng-if="listOfSensors[row][col] != null">
                <input type="radio" name="sensor" id="{{ listOfSensors[row][col] }}" value="{{ listOfSensors[row][col] }}" ng-click="showSensorValue('sensor-'+ listOfSensors[row][col] );" ng-disabled="!activeSensors['{{ listOfSensors[row][col] }}'][classroom]" />
                <figure>
                  <img ng-class="{'img-window-sensor': listOfSensors[row][col] == 'window'}" ng-src="./img/sensors/{{ listOfSensors[row][col] }}.png" alt="{{ listOfSensors[row][col] }}" />
                  <figcaption>{{ listOfSensors[row][col] }}</figcaption>
                </figure>
              </label>
              <input ng-if="listOfSensors[row][col] == null && surveyClassroom == null" type="button" class="btn button-sensor" name="button-learnmore" value="learn more" ng-click="goToLearnMore()" />
            </div>     
          </div>
          <!-- Game -->
          <input type="button" class="btn pull-right button-relate" name="button-relate" value="relate" ng-show="surveyClassroom != null" ng-click="goToRelate()">  
        </div>                
      </div>
    </div> 
  </div>
</main>